<div id="<%= dom_id test_result %>">
  <p>
    <strong>Name:</strong>
    <%= test_result.name %>
  </p>

  <p>
    <strong>Sanguine:</strong>
    <%= test_result.sanguine %>
  </p>

  <p>
    <strong>Choleric:</strong>
    <%= test_result.choleric %>
  </p>

  <p>
    <strong>Melancholic:</strong>
    <%= test_result.melancholic %>
  </p>

  <p>
    <strong>Phlegmatic:</strong>
    <%= test_result.phlegmatic %>
  </p>

</div>
