<div class="container result-page">
  
  <% if @dominant %>
    <div class="dominant-result-wrapper">
      <h2 class="temperament-<%= @dominant[0] %>">
        <span class="icon">
          <% case @dominant[0] %>
          <% when "choleric" %>
            <i class="fas fa-fire"></i>
          <% when "sanguine" %>
            <i class="fas fa-sun"></i>
          <% when "melancholic" %>
            <i class="fas fa-book-open"></i>
          <% when "phlegmatic" %>
            <i class="fas fa-leaf"></i>
          <% end %>
        </span>
        Seu Temperamento Dominante é <%= @dominant[1][:name] %>
      </h2>
    
      <p class="secondary-influence">
        com uma forte influência secundária do temperamento <strong><%= @secondary[1][:name] %></strong>.
      </p>
    
      <p class="description">
        <% case @dominant[0] %>
        <% when "sanguine" %>
          A combinação de um temperamento Sanguíneo dominante com uma influência secundária torna você uma pessoa extremamente sociável, otimista e carismática.
        <% when "choleric" %>
          Com o Colérico como dominante, você é um líder natural, focado e determinado. Sua influência secundária adiciona novos traços à sua personalidade.
        <% when "melancholic" %>
          Sua natureza primariamente Melancólica te faz detalhista, sensível e profundo. A influência secundária complementa isso com novas características.
        <% when "phlegmatic" %>
          Como um Fleumático dominante, você é calmo, equilibrado e confiável. Sua personalidade também é marcada por uma forte influência secundária.
        <% end %>
      </p>
    </div>

    <hr class="result-divider">

    <div class="full-scores-wrapper">
      <h3>Sua Composição de Temperamentos</h3>
      
      <ul class="score-list">
        <% @all_scores.each do |slug, data| %>
          <li class="score-item">

            <div class="temperament-label">

              <span class="temperament-<%= slug %>">
                <i class="fas fa-square"></i>
                <strong><%= data[:name] %></strong>
              </span>
              
              <span class="score-percentage">
                <%= (data[:score].to_f / @total_score.to_f) * 100 %>
                </span>
            </div>
            <div class="score-bar-container">
              <div class="score-bar temperament-bg-<%= slug %>" 
                   style="width: <%= (data[:score].to_f / @total_score.to_f) * 100 %>%;">
              </div>
            </div>

          </li>
        <% end %>
      </ul>
      
    </div>

    <%= button_to "Fazer o Teste Novamente", reset_test_path, method: :post, class: "button" %>
  
  <% else %>
    <div class="no-results">
      <p>Nenhum teste foi concluído ainda.</p>
      <%= link_to "Começar um Teste", start_test_path, method: :post, class: "button large-button" %>
    </div>
  <% end %>

</div>